@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root {
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  Font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--DarkGray: hsl(0, 0%, 55%);
--VeryDarkGray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  font-size: 1rem;
  color: var(--White);
  text-decoration: inherit;
}
li {
  margin-bottom: 1rem;
  list-style-type: none;
}
h1 {
  text-transform: uppercase;
  font-size: 3.1rem;
  line-height: 1.1;
  font-weight: 100;
}
img {
  width: 100%;
}
.container {
  position: relative;
  min-width: 415px;
  min-height: 900px;
}
.hero {
  height: 700px;
}
.header {
  min-height: 700px;
}
.hero-img {
  position: relative;
  height: 200px;
}
nav {
  position: absolute;
  top: 10%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.desktop-menu {
  display: none;
}
.logo {
  width: 200px;
  height: 40px;
}
.hamburger {
  height: 30px;
  width: 30px;
}
.close {
  height: 30px;
  width: 30px;
  margin-left: -1rem;
}
.header-content {
  position: absolute;
  top: 120%;
  left: 5%;
  color: var(--White);
  padding: 1rem;
  margin: auto;
  width: 90%;
  border: 3px solid var(--White);
}
.lead {
  margin-top: 4rem;
}
.interact {
  padding: 2rem;
  height: 50%;
}
.content {
  padding: 1.1rem;
}
.content h1 {
  font-size: 2.5rem;
  padding: 0 1.5rem 0 2rem;
  text-align: left;
}
p {
  padding: 1.5rem 1.5rem 0 2rem;
  font-size: 1.5rem;
  text-align: center;
}
.creation {
  padding: 1rem 2rem 0.1rem 2rem;
}
#creations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  position: relative;
}
#creations h1 {
  padding: 1.8rem;
  font-size: 2.5rem;
  text-align: center;
}
.title {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 25%;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--White);
}
.small {
  width: 20%;
}
.mobile-btn {
  margin-top: 2rem;
  padding: 1rem;
  width: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--Black);
  letter-spacing: 0.2rem;
  border: 2px solid var(--Black);
  background: transparent;
}
.mobile-btn:hover {
  background: var(--Black);
  color: var(--White);
}
.desktop-btn {
  display: none;
}
#footer {
  background-color: var(--Black);
  min-height: 500px;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
}
#logo {
  margin-top: 3rem;
} 
.menu {
  margin-top: 2rem;
  text-align: center;
}
.menu_ a:hover {
  color: var(--DarkGray);
}
.socials {
  margin-top: 2rem;
  text-align: center;
}
.socials a {
  margin-left: 2rem;
}
.socials a:hover {
  color: var(--DarkGray);
}
.rights {
  margin-top: 1rem;
  color: var(--DarkGray);
  font-size: 1.3rem;
  font-weight: bold;
}
.mobile-menu-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background: var(--Black);
  color: var(--White);
  min-width: 425px;
}
.gridbox img:hover, .title:hover {
  opacity: 0.5;
}
.mobile-menu {
  margin: 1rem 0 0 1rem;
  display: flex;
  gap: 10rem;
}
.mobile-menu-list li {
  text-transform: uppercase;
  margin-left: 2rem;
}
.mobile-menu-list a {
  font-size: 3rem;
  font-weight: 400;
}
.mobile-menu-list a:hover {
  color: var(--DarkGray);
}
.mobile-menu-list {
  margin-bottom: 20rem ;
}
@media only screen and (min-width: 600px) {
  .container {
    min-width: 920px;
  }
  .desktop-menu {
    display: block;
    display: flex;
    margin: 0.5rem 5rem 0 0;
  }
  li {
    height: 1.8rem;
    margin-left: 2rem;
  }
  li:hover {
    border-bottom: 2px solid var(--White);
    transition: all 0.2s ease-in-out;
  }
  a {
    font-size: 1rem;
  }
  .hamburger {
    display: none;
  }
  .header-content {
    width: 42%;
    margin-left: 6rem;
  }
  .header-content h1{
    margin-top: 1rem;
    padding-left: 2rem;
  }
  .logo {
    margin-left: 7rem;
  }
  .interact {
    padding: 2rem;
    margin-left: 5rem;
    height: 50%;
    width: 60%;
  }
  .box img  {
    cursor: pointer;
  }
  .gridbox img:hover, .title:hover {
    opacity: 0.5;
  }
  #interactive {
  position: relative;
  }
  .content {
    position: absolute;
    right: 3%;
    top: 50%;
    background: var(--White);
    max-width: 550px;
    min-height: 250px;
  }
  h1 {
    font-size: 4rem;
  }
  .box {
    position: relative;
  }
  .title {
    position: absolute;
    top: 75%;
    left: 15%;
    width: 50%;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--White);
    cursor: pointer;
  }
  .small {
    width: 40%;
  }
  p {
    font-size: 1.1rem;
    text-align: left;
  }
  h1 {
    margin-top: 3rem;
  }
  .mobile-btn {
    display: none;
  }
  .mobile-menu-bg {
    display: none;
  }
  .desktop-btn {
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    width: 10%;
    height: 5%;
    font-size: 0.5rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    border: 2px solid var(--VeryDarkGray);
    background: transparent;
    cursor: pointer;
  }
  .desktop-btn:hover {
    background: var(--Black);
    color: var(--White);
  }
  .create {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .creation {
    padding: 0.5rem;
  }
  #creations {
    padding-inline: 2.5rem;
  }
  .gridbox {
    display: grid;
    grid-template-columns: repeat(4, 300px); 
  }
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
  }
  #logo {
    margin: 2rem 0 0 -1rem;
    width: 100%;
  }
  .logo {
    margin-left: 3rem;
  }
  .menu_ {
    display: flex;
    margin-top: -2rem;
  }
  .menu_ a:hover {
    color: var(--White);
  }
  .socials {
    width: 50%;
    margin-left: 7.5rem;
  }
  .socials a {
    margin-left: 1rem;
  }
  .socials a:hover {
    border-bottom: 2px solid var(--White);
    color: var(--White);
  }
  .rights {
    margin-right: 2rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width:1400px) {
  .gridbox {    
    display: grid;
    grid-template-columns: repeat(4, 268px); 
  }
  .content {
    position: absolute;
    right: 5.5%;
    top: 41%;
    background: var(--White);
    min-width: 450px;
    min-height: 100px;
  }
  .container {
    min-width: 1050px;
  }
  .header-content h1 {
    font-size: 3.5rem;
  }
  .title {
    font-size: 1.5rem;
    top: 80%;
    width: 50%;
    cursor: pointer;
  }
  .small {
    width: 30%;
  }
  #creations {
    min-height: 700px;
  }
  .content h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .content p {
    font-size: 1.2rem;
    text-align: left;
  }
  .create {
    width: 90%;
  }
   #footer {
    min-height: 100px;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    min-width: 2100px;
  }
  .gridbox {
    display: grid;
    grid-template-columns: repeat(4, 520px); 
    width: 100%;
  }
  .create {
    width: 100%;
  }
  .header-content {
    width: 40%;
  }
  .header-content h1 {
    font-size: 6rem; 
  }
  .content {
    position: absolute;
    right: 10%;
    top: 55%;
    min-width: 800px;
  }
  .content h1 {
    font-size: 4rem;
  }
  .content p {
    font-size: 2rem;
  }
  .title {
    font-size: 2.5rem;
    top: 80%;
    width: 40%;
    cursor: pointer;
  }
  .small {
    width: 30%;
  }
}



